<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <ul class="list-inline text-center">
          {% for link in site.links %}
            <li>
              <a href="{{ link.src }}" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-{{ link.name }} fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          {% endfor %}
        </ul>
        <p>
          <form action="//phoenix4.us5.list-manage.com/subscribe/post?u=5b4cafe8e9399db380ab73670&amp;id=d14a5dd196" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline text-center" target="_blank" novalidate>
            <div class="form-group">
              <label for="mce-EMAIL" class="sr-only">Email Address</label>
              <div class="input-group">
                <input type="email" value="" placeholder="Sign up for email alerts" name="EMAIL" class="form-control required email email-address" id="mce-EMAIL">
              </div>
            </div>
            <div style="position: absolute; left: -5000px;">
              <input type="text" name="b_5b4cafe8e9399db380ab73670_d14a5dd196" tabindex="-1" value="">
            </div>
            <button type="submit" class="btn btn-sm btn-primary" id="mc-embedded-subscribe">Subscribe</button>
          </form>
        </p>
        <p class="rss-subscribe text-muted  ">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
        <p class="copyright text-muted">Copyright &copy; John E. Jones IV</p>
      </div>
    </div>
  </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js" async="true"></script>
<script src="/js/jquery.githubRepoWidget.min.js" async="true"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gist-embed/2.1/gist-embed.min.js" async="true"></script>
{% if page.scripts %}
  {% for script in page.scripts %}
    <script src="{{ script }}" async="true"></script>
  {% endfor %}
{% endif %}
