---
layout: default
slug: index
---

<header class="intro-header" style="background-image: url(../img/home.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1>
            {{ site.title }}
          </h1>
          <hr class="small">
          <span class="subheading">{{ site.description }}</span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container" role="main">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      {% for post in paginator.posts %}
        <article class="post-preview">
          <a href="{{ post.url | prepend: site.baseurl }}">
            <h2 class="post-title">
              {{ post.title }}
            </h2>
            {% if post.description %}
              <h3 class="post-subtitle">
                {{ post.description }}
              </h3>
            {% endif %}
          </a>
          <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</p>
        </article>
        <hr>
      {% endfor %}

      <ul class="pager">
        {% if paginator.previous_page %}
          <li class="previous">
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
          </li>
        {% endif %}
        {% if paginator.next_page %}
          <li class="next">
            <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>
