---
layout: page
title: Media
slug: medialist
background_image: "media.jpg"
---

{% for post in site.posts %}
  {% if post.media == true %}
    <article class="post-preview">
      <a href="{{ post.links[0].src }}" target="_blank">
        <h2 class="post-title">
          {{ post.links[0].headline }}
        </h2>
        {% if post.description %}
          <h3 class="post-subtitle">
            {{ post.description }}
          </h3>
        {% endif %}
      </a>
      <p class="post-meta">{{ post.links[0].source }} | {{ post.date | date: "%b %-d, %Y" }}</p>
    </article>
    <hr>
  {% endif %}
{% endfor %}
