:root {
  --parchment: #F0E7CD;
  --blue: #547AA5;
  --brown: #2E1E0F;
  --lightbrown: #BC6C25;
  --gray: #C1BFB5;
}

@font-face {
  font-family: 'Literata';
  src: url('/fonts/Literata.ttf');
}

body {
  font-family: Literata, Georgia, serif;
  background-color: var(--parchment);
}

a {
  color: var(--blue);
}

time {
  color: var(--brown);
}

h2 a {
  text-decoration: none;
}

h2 a:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
}

.btn.btn-primary {
  background-color: var(--blue);
  border-color: var(--gray);
  border-radius: 2;
}

footer .social-links {
  font-size: 1.1em;
}

footer .social-links a {
  display: inline-block;
  margin: 0 0.25em;
}

.row.photos { 
  display: flex; 
  align-items: center;
}

/*
 Small Capitals
 https://en.wikipedia.org/wiki/Small_caps 
*/

.small-caps {font-variant: small-caps;}

/*
 Optical margin alignment for particular letters 
 https://en.wikipedia.org/wiki/Optical_margin_alignment
*/

.pull-T, .pull-V, .pull-W, .pull-Y {margin-left: -0.07em}
.push-T, .push-V, .push-W, .push-Y {margin-right: 0.07em}

.pull-O, .pull-C, .pull-o, .pull-c {margin-left: -0.04em}
.push-O, .push-C, .push-o, .push-c {margin-right: 0.04em}

.pull-A {margin-left: -0.03em}
.push-A {margin-right: 0.03em}

/* 
 Quotation mark 
 https://en.wikipedia.org/wiki/Quotation_mark
*/

/* Single quotation marks (') */
.pull-single{margin-left:-.27em}
.push-single{margin-right:.27em}

.pull-double, .push-double,
.pull-single, .push-single {display: inline-block}

/* Double quotation marks (") */
.pull-double{margin-left:-.46em}
.push-double{margin-right:.46em}