<aside class="col-md-4 sidebar">
  <div class="panel panel-default">
    <div class="panel-heading">Receive Updates!</div>
    <div class="panel-body">
      <p>
        Receive updates whenever I post something to my site or when I have useful links to share. I will never share your information with third parties.
      </p>
      <form action="https://tinyletter.com/johnjones4" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/johnjones4', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
        <div class="form-group">
          <label for="tlemail">Email Address</label>
          <input type="text" class="form-control" name="email" id="tlemail" />
        </div>
        <button type="submit" class="btn btn-primary">Subscribe</button>
      </form>
    </div>
  </div>

  <div class="links">
    <h3 class="hidden">Links</h3>
    <ul class="list-group">
      {% for link in site.links %}
        <li class="list-group-item"><a href="{{ link.src }}" target="_blank">{{ link.name }}</a></li>
      {% endfor %}
    </ul>
  </div>

  <div class="github">
    <h3 class="hidden">GitHub</h3>
    <iframe src="http://lab.lepture.com/github-cards/card.html?user=johnjones4" frameborder="0" scrolling="0" width="100%" height="165" allowtransparency></iframe>
  </div>

  <div class="twitter">
    <h3 class="hidden">Twitter</h3>
    <a class="twitter-timeline" href="https://twitter.com/johnjones4" data-widget-id="522046989471477760">Tweets by @johnjones4</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>

</aside>