<aside class="col-md-4 sidebar">
  <div class="panel panel-default">
    <div class="panel-heading">Receive Updates!</div>
    <div class="panel-body">
      <p>
        Receive updates whenever I post something to my site or when I have useful links to share. I will never share your information with third parties.
      </p>
      <form action="//phoenix4.us5.list-manage.com/subscribe/post?u=5b4cafe8e9399db380ab73670&amp;id=d14a5dd196" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div class="form-group">
          <label for="mce-EMAIL">Email Address</label>
          <input type="email" value="" name="EMAIL" class="form-control required email" id="mce-EMAIL">
        </div>
        <div style="position: absolute; left: -5000px;">
          <input type="text" name="b_5b4cafe8e9399db380ab73670_d14a5dd196" tabindex="-1" value="">
        </div>
        <button type="submit" class="btn btn-primary" id="mc-embedded-subscribe">Subscribe</button>
      </form>
    </div>
  </div>

  <div class="links">
    <h3 class="hidden">Links</h3>
    <ul class="list-group">
      {% for link in site.links %}
        <li class="list-group-item"><a href="{{ link.src }}" target="_blank">{{ link.name }}</a></li>
      {% endfor %}
    </ul>
  </div>

  <div class="github">
    <h3 class="hidden">GitHub</h3>
    <iframe src="http://lab.lepture.com/github-cards/card.html?user=johnjones4" frameborder="0" scrolling="0" width="100%" height="165" allowtransparency></iframe>
  </div>

  <div class="twitter">
    <h3 class="hidden">Twitter</h3>
    <a class="twitter-timeline" href="https://twitter.com/johnjones4" data-widget-id="522046989471477760">Tweets by @johnjones4</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>

</aside>