
.github-widget {
  padding: 1em 0;
}

.rss-subscribe {
  font-size: 14px;
  text-align: center;
  margin-bottom: 0;
}

.intro-header {
  background-size: cover;
  background-color: #afafaf; /* Old browsers */
  background-image: -moz-radial-gradient(center, ellipse cover, #afafaf 0%, #7a7a7a 100%); /* FF3.6-15 */
  background-image: -webkit-radial-gradient(center, ellipse cover, #afafaf 0%,#7a7a7a 100%); /* Chrome10-25,Safari5.1-6 */
  background-image: radial-gradient(ellipse at center, #afafaf 0%,#7a7a7a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#afafaf', endColorstr='#7a7a7a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

code {
  white-space: pre-wrap;
  display: block;
  padding: 1em;
}

p code {
  display: inline-block;
  padding: 2px 4px;
}

.project {
  h3 {
    margin-top: 0;
  }
  p:last-child {
    margin-bottom: 0;
  }
}

.form-inline {
  .btn {
    padding: 6px 20px;
  }
}

.email-address {
  min-width: 200px;
}

.headshot {
  float: left;
  margin: 0 1em 1em 0;
  max-width: 300px;
  height: auto;
  border: solid 1px #ccc;
}

@media (max-width: 640px) {
  .headshot {
    float: none;
    clear: both;
    max-width: 100%;
    margin: auto;
    display: block;
  }
}
