@import '../bootstrap/bootstrap.scss';

.navbar {
  background: rgba(255,255,255,0.85);
  border-bottom: solid white 1px;
}

div[role=main] {
  padding-top: 100px;

  @include media-breakpoint-down(sm) { 
    padding-top: 60px;
  }

  .container.container-narrow {
    max-width: 960px;
  }

  .img-content {
    float: left;
    margin: 0 10px 10px 0;
    border: solid $dark 1px;
  }
}

.footer {
  text-align: center;
  padding: 1em;
}
