<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    {% include global/device_meta.html %}
    {% include global/seo.html %}
    {% include global/header_includes.html %}
  </head>
  <body role="document" class="{{ page.layout }} {{ page.slug }}">
    {% include global/pre_content_includes.html %}
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            {% for link in site.pages %}{% if link.title %}
              <li {% if page.url == link.url %}class="active"{% endif %}><a class="page-link" href="{{ link.url | prepend: site.baseurl }}">{{ link.title }}</a></li>
            {% endif %}{% endfor %}
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
    </nav>
    <div id="content">
      {{ content }}
    </div>
    {% include global/post_content_includes.html %}
  </body>
</html>
