---
layout: default
---

{% if page.header_title %}
  <div class="jumbotron">
    <div class="container">
      <h1>{{ page.header_title }}</h1>
      {% if page.description %}
        <p>{{ page.description }}</p>
      {% endif %}
    </div>
  </div>
{% endif %}
<div class="container" role="main">
  <div class="row">
    {% if page.sidebar %}
      <div class="col-md-8">
        {{ content }}
      </div>
      {% include sidebar.html %}
    {% else %}
      {{ content }}
    {% endif %}
  </div>
</div>