---
layout: default
---

<header class="intro-header" {% if page.background_image %}style="background-image: url(../img/{{ page.background_image }});"{% endif %}>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="page-heading">
          <h1>
            {% if page.header_title %}
              {{ page.header_title }}
            {% else %}
              {{ page.title }}
            {% endif %}
          </h1>
          {% if page.description %}
            <hr class="small">
            <span class="subheading">{{ page.description }}</span>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</header>
<div class="container" role="main">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      {{ content }}
    </div>
  </div>
</div>
